.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #d6d5d5;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin-right: 1rem;
    color: black;
}

    .nav-link:hover {
        text-decoration: underline;
    }
