<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CED</a>
    </div>
</div>

<input type="checkbox" title="Menú de navegación" class="navbar-toggler" id="navbar-toggler" />

<div class="nav-scrollable" onclick="document.getElementById('navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/treatments">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Tratamientos
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/blog">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Blog
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/services">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Servicios
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/book-appointment">
                <span class="oi oi-calendar" aria-hidden="true"></span> Reservar una Cita
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/about">
                <span class="bi bi-info-circle-fill" aria-hidden="true"></span> Sobre Nosotros
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/contact">
                <span class="bi bi-envelope-fill" aria-hidden="true"></span> Contacto
            </a>
        </div>
    </nav>
</div>
