/* Custom CSS */
#navbar-toggler {
    display: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #007ACC; /* Calming blue color */
    cursor: pointer;
}

/* Adjust the size and position of the checkbox to fit the icon */
.navbar-toggler {
    display: none; /* Hide the default checkbox */
}

.navbar-toggler-icon::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #007ACC; /* Calming blue color */
    cursor: pointer;
}

/* Ensure the nav-scrollable is displayed correctly */
.nav-scrollable {
    display: block;
}

/* Hide menu for mobile devices */
@media (max-width: 767px) {
    .nav-scrollable {
        display: none;
    }

    #navbar-toggler {
        display: inline-block;
    }

        #navbar-toggler:checked ~ .nav-scrollable {
            display: block;
        }

    /* Adjust the icon to show only on mobile */
    .navbar-toggler-icon {
        display: inline-block;
    }
}
